.auth-form>*{
    width: 400px; 
    
}

/* .auth-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:fit-content;
    height: 100vh;
    margin: 50px;
} */

.form-msg{
    background-color: #e8f7f0;
    border: solid 1px #747a78;
    margin-top: 30px ;
    height: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-msg>p{
    margin: 0;
    font-size:large;
}

.form-msg>p>a{
    text-decoration: none;
    color: black
}

.form-btn{
    width: 100%;
    border-radius: 50px;
    background-color: #0195f7;
    color: white;
    padding: 10px 50px;
    margin: 20px 0;
}

.form{
    border: solid 1px gainsboro;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.form>input,select{
    padding: 10px;
    border: solid 1px gainsboro;
    margin: 10px 0;
    border-radius: 5px;
}
.form>h1{
    align-self: center;
    margin: 40px;
}