body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --yale-blue: #134074ff;
  --berkeley-blue: #13315cff;
  --oxford-blue: #0b2545ff;
  --powder-blue: #8da9c4ff;
  --mint-cream: #eef4edff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
  background-color: black;
  color: white;
}